In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [110]:
test = pd.read_csv('../data/raw/test.csv')
train = pd.read_csv('../data/raw/train.csv')

C:\Users\samlo\AppData\Local\Temp\ipykernel_19176\3845234192.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv('../data/raw/train.csv')

In [45]:
train.head()

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,player_id,drafted
0,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,4.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,b2716b2d-3422-4959-9fe7-fe496414a4e8,0.0
1,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,6.3,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,bb387960-e3a0-4ffd-96ae-184bad07cb8a,0.0
2,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,8.0,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,89bbdf11-eadd-4de4-95e5-03f7e2874aa1,0.0
3,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,9.4,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,0c87ada8-8446-4ea2-a05b-bd07aed5f37a,0.0
4,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,18.6,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,84661e00-ad20-4308-817e-efa8da52a86c,0.0

In [ ]:
# Relevant

#1,team,Name of team
#2,conf,Name of conference
#3,GP,Games played
#4,Min_per,Player's percentage of available team minutes played
#5,ORtg,"ORtg - Offensive Rating (available since the 1977-78 season in the NBA); for players it is points produced per 100 posessions, while for teams it is points scored per 100 possessions. This rating was developed by Dean Oliver, author of Basketball on Paper. Please see the article Calculating Individual Offensive and Defensive Ratings for more information."
#6,usg,Usg% - Usage Percentage (available since the 1977-78 season in the NBA); the formula is 100 * ((FGA + 0.44 * FTA + TOV) * (Tm MP / 5)) / (MP * (Tm FGA + 0.44 * Tm FTA + Tm TOV)). Usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor.
#7,eFG,"eFG% - Effective Field Goal Percentage; the formula is (FG + 0.5 * 3P) / FGA. This statistic adjusts for the fact that a 3-point field goal is worth one more point than a 2-point field goal. For example, suppose Player A goes 4 for 10 with 2 threes, while Player B goes 5 for 10 with 0 threes. Each player would have 10 points from field goals, and thus would have the same effective field goal percentage (50%)."
#8,TS_per,"TS% - True Shooting Percentage; the formula is PTS / (2 * TSA). True shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws."
#9,ORB_per,ORB% - Offensive Rebound Percentage (available since the 1970-71 season in the NBA); the formula is 100 * (ORB * (Tm MP / 5)) / (MP * (Tm ORB + Opp DRB)). Offensive rebound percentage is an estimate of the percentage of available offensive rebounds a player grabbed while he was on the floor.
#10,DRB_per,DRB% - Defensive Rebound Percentage (available since the 1970-71 season in the NBA); the formula is 100 * (DRB * (Tm MP / 5)) / (MP * (Tm DRB + Opp ORB)). Defensive rebound percentage is an estimate of the percentage of available defensive rebounds a player grabbed while he was on the floor.
#11,AST_per,AST% - Assist Percentage (available since the 1964-65 season in the NBA); the formula is 100 * AST / (((MP / (Tm MP / 5)) * Tm FG) - FG). Assist percentage is an estimate of the percentage of teammate field goals a player assisted while he was on the floor.
#12,TO_per,TOV% - Turnover Percentage (available since the 1977-78 season in the NBA); the formula is 100 * TOV / (FGA + 0.44 * FTA + TOV). Turnover percentage is an estimate of turnovers per 100 plays.
#13,FTM,Free Throws
#14,FTA,Free Throw Attempts
#15,FT_per,Free Throw Percentage; the formula is FTM / FTA.
#16,twoPM,2P - 2-Point Field Goals
#17,twoPA,2PA - 2-Point Field Goal Attempts
#18,twoP_per,2P% - 2-Point Field Goal Percentage; the formula is 2P / 2PA.
#19,TPM,3P - 3-Point Field Goals (available since the 1979-80 season in the NBA)
#20,TPA,3PA - 3-Point Field Goal Attempts (available since the 1979-80 season in the NBA)
#21,TP_per,3P% - 3-Point Field Goal Percentage (available since the 1979-80 season in the NBA); the formula is 3P / 3PA.
#22,blk_per,BLK% - Block Percentage (available since the 1973-74 season in the NBA); the formula is 100 * (BLK * (Tm MP / 5)) / (MP * (Opp FGA - Opp 3PA)). Block percentage is an estimate of the percentage of opponent two-point field goal attempts blocked by the player while he was on the floor.
#23,stl_per,STL% - Steal Percentage (available since the 1973-74 season in the NBA); the formula is 100 * (STL * (Tm MP / 5)) / (MP * Opp Poss). Steal Percentage is an estimate of the percentage of opponent possessions that end with a steal by the player while he was on the floor.
#27,ftr,
#28,yr,"Student’s year of study: `Fr` for freshmen, `So` for sophomores, `Jr` for juniors, `Sr` for seniors"
#29,ht,Height of student
#31,porpag,Points Over Replacement Per Adjusted Game
#32,adjoe,AdjO – Adjusted offensive efficiency – An estimate of the offensive efficiency (points scored per 100 possessions) a team would have against the average D-I defense.
#33,pfr,
#34,year,Season's year
#35,type,"Type of metrics displayed: `All` for all types, `C` for conference`, `NC` for non-conference, `PC` for pre-conference tour, `R` for regular season, `P` for post-season, `T` for NCAA"
#36,Rec_Rank,Recruiting rank i.e. what the player was ranked as a recruit coming out of high school
#37,ast_tov,Ratio Assists against Turnovers
#38,rimmade,Shots made at or near the rim
#39,rimmade_rimmiss,Sum of Shots made at or near the rim and Shots missed
#40,midmade,Two point shots that were not made at or near the rim
#41,midmade_midmiss,Sum of Two point shots that were not made at or near the rim and Shots missed
#42,rim_ratio,Ratio between Shots made at or near the rim against Shots missed
#43,mid_ratio,Ratio between Two point shots that were not made at or near the rim and Shots missed
#44,dunksmade,Dunks made
#45,dunksmiss_dunksmade,Sum of Dunks made and Dunks missed
#46,dunks_ratio,Ratio between Dunks made and Dunks missed
#47,pick,Order of NBA draft
#48,drtg,"DRtg - Defensive Rating (available since the 1973-74 season in the NBA); for players and teams it is points allowed per 100 posessions. This rating was developed by Dean Oliver, author of Basketball on Paper. Please see the article Calculating Individual Offensive and Defensive Ratings for more information."
#49,adrtg,Adjusted DRtg
#50,dporpag,Asdjusted porpag
#54,stops,Stops - Stops; Dean Oliver's measure of individual defensive stops. Please see the article Calculating Individual Offensive and Defensive Ratings for more information.
#55,bpm,BPM - Estimate the player’s contribution in points above league average per 100 possessions played
#56,obpm,Offensive BPM
#57,dbpm,Defensive BPM
#58,gbpm,BPM 2.0
#59,mp,MP - Minutes Played (available since the 1951-52 season)
#60,ogbpm,Offensive BPM 2.0
#61,dgbpm,Defensive BPM 2.0
#62,oreb,ORB - Offensive Rebounds (available since the 1973-74 season in the NBA)
#63,dreb,DRB - Defensive Rebounds (available since the 1973-74 season in the NBA)
#64,treb,TRB - Total Rebounds (available since the 1950-51 season)
#65,ast,AST - Assists
#66,stl,STL - Steals (available since the 1973-74 season in the NBA)
#67,blk,BLK - Blocks (available since the 1973-74 season in the NBA)
#68,pts,PTS - Points
#70,drafted,Target - Was the player drafted at the end of the season

# Drop irrelevant columns

#30,num,Player's number
#69,player_id,Unique identifier of player

In [111]:
train = train.drop(columns=['num', 'player_id'])
test = test.drop(columns=['num', 'player_id'])

In [112]:
x = pd.DataFrame(train.dtypes)
x[x[0]!="float64"]

            0
team   object
conf   object
GP      int64
FTM     int64
FTA     int64
twoPM   int64
twoPA   int64
TPM     int64
TPA     int64
yr     object
ht     object
year    int64
type   object

In [113]:
def convertColumnType(x, y, col, new_type):
    x[col] = x[col].astype(new_type)
    y[col] = y[col].astype(new_type)
    return x, y

In [114]:
train, test = convertColumnType(train, test, 'year', 'str')

int_cols = ['GP','FTM','FTA','twoPM','twoPA','TPM','TPA']

for i in range(len(int_cols)):
    train, test = convertColumnType(train, test, int_cols[i], 'float')

In [115]:
x = pd.DataFrame(train.dtypes)
x[x[0]!="float64"]

           0
team  object
conf  object
yr    object
ht    object
year  object
type  object

In [88]:
train.describe(include='all')

,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,drafted
count,46618,46618,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,46618.000000,...,46576.000000,46576.000000,46582.000000,46582.000000,46582.000000,46582.000000,46582.000000,46582.000000,46582.000000,46618.000000
unique,355,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Army,A10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,176,1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,23.542988,37.339013,91.784360,18.164578,44.424392,47.571397,5.654071,12.575102,...,-2.088273,-0.463778,0.778630,1.867124,2.645755,1.066943,0.527743,0.283606,5.732429,0.009524
std,NaN,NaN,10.076829,28.019801,30.235568,6.181982,18.026404,17.217909,9.985025,11.041089,...,6.160620,3.303826,0.745045,1.464894,2.096319,1.170469,0.469654,0.422755,4.942544,0.097127
min,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-141.539000,-100.984000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,17.000000,9.600000,83.900000,14.600000,40.000000,43.770000,1.900000,8.400000,...,-4.463895,-1.747553,0.228600,0.681800,1.000000,0.217400,0.157900,0.000000,1.538500,0.000000
50%,NaN,NaN,28.000000,35.900000,97.000000,18.100000,47.500000,50.720000,4.500000,11.800000,...,-1.581525,-0.335180,0.550000,1.600000,2.235300,0.666700,0.419400,0.131600,4.428600,0.000000
75%,NaN,NaN,31.000000,62.200000,106.800000,21.800000,53.000000,55.947500,8.200000,15.900000,...,1.018088,1.048375,1.129000,2.724100,3.806500,1.529000,0.793100,0.366700,9.033050,0.000000
max,NaN,NaN,41.000000,98.000000,834.000000,50.000000,150.000000,150.000000,1576.600000,1385.000000,...,225.485000,78.985500,5.933300,11.545500,14.533300,10.000000,4.000000,5.258100,29.968800,1.000000

In [117]:
cleaned_df = train.copy()
target = cleaned_df.pop('drafted')
#X_test = test.copy()

In [118]:
num_cols = list(cleaned_df.select_dtypes('number').columns)
cat_cols = list(set(cleaned_df.columns) - set(num_cols))

In [119]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [120]:
ohe = OneHotEncoder(sparse_output=False, drop='first')

In [121]:
features = ohe.fit_transform(cleaned_df[cat_cols])

In [122]:
features = pd.DataFrame(features, columns=ohe.get_feature_names_out())

In [123]:
scaler = StandardScaler()

In [124]:
features[num_cols] = scaler.fit_transform(cleaned_df[num_cols])

In [125]:
from joblib import dump
dump(ohe, '../models/ohe.joblib')
dump(scaler, '../models/scaler.joblib')

['../models/scaler.joblib']

In [126]:
from sklearn.model_selection import train_test_split

In [127]:
X_data, X_test, y_data, y_test = train_test_split(features, target, test_size=0.2, random_state=8)
X_train, X_val, y_train, y_val = train_test_split(X_data, y_data, test_size=0.2, random_state=8)

In [128]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(29835, 498)
(7459, 498)
(9324, 498)

In [129]:
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(29835,)
(7459,)
(9324,)

In [130]:
X_train.to_csv('../data/processed/X_train.csv', index=False)
X_val.to_csv('../data/processed/X_val.csv', index=False)
X_test.to_csv('../data/processed/X_test.csv', index=False)
y_train.to_csv('../data/processed/y_train.csv', index=False)
y_val.to_csv('../data/processed/y_val.csv', index=False)
y_test.to_csv('../data/processed/y_test.csv', index=False)